html {
  /* font-family: 'Sinhala MN', 'Helvetica', sans-serif; */
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans", sans-serif;
}

.selectedProperty {
  stroke: #dba5ff stroke-width":3px"
}

.orientation {
  display: flex;
  flex-direction: row;
}

.side-panel {
  display: flex;
  flex-direction: column;
}

.info{
  font-size: 13px;
  align-items: flex-start;
}

.hl {
  color: #1e60a7;
  font-weight: bold;
}

.button {
  background-color: #e7e7e7;
  /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#panel {
  width: 600px;
  height: 450px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 5px;
  padding-left: 15px;
}

td,
th {
  border-bottom: 1px solid #dedcdc;
  text-align: left;
  font-size: 14px;
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}

td {
  font-size: 12px;
}

.table-title {
  overflow-wrap: break-word;
  margin-right: 15px;
}

.map-legend {
  display: flex;
  flex-direction: column;
}

.property-buttons {
  /* border: 2px solid gray; */
  border: none;
  background-color: #e7e7e7;
  padding: 7px;
  margin: 3px;
}

.clicked {
  background-color: lightblue;
}

.property-buttons:hover {
  background-color: lightblue;
}