html {
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans", sans-serif;
}

body {
  margin-left: 20px;
}

.filters,
.main {
  display: flex;
}

.title {
  background-color: #4E79A7;
  padding: 2px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 1400px;
}

h1 {
  font-size: 24px;
  color: white;
  margin-left: 10px;
}

.selectedProperty {
  stroke: #dba5ff;
  stroke-width: 3px;
}

.side-panel,
#legend-label,
.map-legend {
  display: flex;
  flex-direction: column;
}

.info {
  font-size: 13px;
  align-items: flex-start;
  padding: 10px;
  background-color: #cadfe6;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 550px;
  margin-left: 10px;
}

#controls {
  margin: 10px 0 15px 0;
}

.hl {
  color: #1e60a7;
  font-weight: bold;
}

#map {
  margin: 10px;
}

.map {
  border: 1px solid lightgray;
  border-radius: 10px;
}

#legend-label {
  margin-bottom: 10px;
}

#price-label {
  margin: 0px 0px 3px 30px;
  font-size: 13px;
}

.side-panel {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-left: 10px;
  padding: 10px;
  width: 550px;
}

.button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.property-buttons {
  border: none;
  background-color: #e7e7e7;
  padding: 7px;
  margin: 3px;
  border-radius: 10px;
}

.clicked,
.property-buttons:hover,
#resetButton:hover {
  background-color: lightblue;
}

.first {
  margin-left: 0;
}

.label {
  font-size: 13px;
  margin-bottom: 5px;
}

#property-button {
  margin-bottom: 15px;
}

.instruct {
  color: #1e60a7;
  font-weight: bold;
  font-size: 12px;
}

#reset-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
}

#resetButton {
  padding: 0px 20px 0px 20px;
  margin: 15px 0px 15px 0px;
  border-radius: 10px;
  font-size: 13px;
}

#panel {
  height: 450px;
}

#panel,
.label,
#property-button {
  margin-left: 5px;
}

td,
th {
  border-bottom: 1px solid #dedcdc;
  text-align: left;
  font-size: 14px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

td {
  font-size: 12px;
}

.table-title {
  width: 100px;
}